// Copied from
// https://github.com/pnp/sp-dev-fx-controls-react/blob/23af35a5a35e4fe37951f65d961419c435290788/src/controls/fields/fieldCommon/FieldRenderer.module.scss

@import '~office-ui-fabric-react/dist/sass/References.scss';


.ellipsis {
    @extend .relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.relative {
    position: relative;
}

.fabricIcon {
    @include ms-Icon;
}